#################################################
# IMPORTANT: 
# DO NOT commit .env files to version control
# Make sure that .env is in your .gitignore file
#################################################

DB_KEY=YOUR_AIRTABLE_DB_KEY
DB_ID=YOUR_AIRTABLE_DB_ID