/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0 10px;

  color: #444444;
  font-size: calc(1.5vw + 1vh + 0.5vmin);
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.65em;
}

h1,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.6em;
}

p {
  font-size: 1em;
  line-height: 1.45em;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  min-width: 350px;
  max-width: 600px;

  border: 1px solid #333333;
  padding: 1.5em;
  border-radius: 5px;

  display: grid;
  grid-template-rows: 1fr 3fr auto;
}

.card p {
  align-self: center;
}

.card .btn {
  justify-self: end;
  display: inline-block;
  width: fit-content;
  color: inherit;
  background-color: #fff;
  padding: 0.2em;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  font-size: 2em;
  transition: all 300ms;
  text-align: right;
  text-decoration: none;
}

.card .btn:hover,
.card .btn:active {
  color: #000000;
  border-color: #009933;
  background-color: #009933;
}
