/* Font */
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

html,
body {
  width: 100%;
  min-height: 100vh;

  background-color: #6d695c;
  background-image: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    );
  background-size: 70px 120px;
}

html {
  --font-family: 'DM Sans', sans-serif;
  /* --font-size: min(calc(4px + 2vh), 24px); */
  --font-size: calc(1em + 1vh);
  --line-height: 1.55em;
  --text-rendering: optimizeSpeed;

  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  text-rendering: var(--text-rendering);

  color: var(--col-text-body);
  background: var(--col-body-bg);

  min-height: 100vh;

  --col-body-bg: #fff;
  --col-text-body: rgba(60, 60, 60, 0.8);
  --col-text-body-invert: rgba(255, 255, 255, 0.8);
  --col-text-heading: #333344;
  --col-text-subheading: #333344;
}

main {
  height: 100vh;
  min-height: 550px;
}

@media (min-aspect-ratio: 2/3) {
  main {
    padding: 2em 0;
  }
}
