.info {
  width: 40px;
  height: auto;
}

.info > * {
  transform-origin: center center;
  transition: 500ms transform;
}

.info.flipped > :first-child {
  transform: rotateY(180deg);
}

.info.flipped > :last-child {
  transform: translate(14.6%, 14.6%) scale(1.25);
}
