/* Font */
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

html,
body {
  width: 100%;
  min-height: 100vh;
}

main {
  background-color: gold;
  min-height: 100vh;
}

#spark {
  display: grid;
  grid-template-rows: auto 5fr auto;
  width: 100%;
  min-height: 100vh;

  --col-base: var(--palette-green-base);
  --col-lighter: var(--palette-green-lighter);
  --col-darker: var(--palette-green-darker);

  --col-bg: var(--col-lighter);
  --col-text: var(--col-text-body);

  cursor: pointer;
}

@media (min-aspect-ratio: 2/3) {
  #spark {
    max-width: 50vh;
    padding: 2em 0;
    margin: 0 auto;
  }
}

#spark > section {
  background-color: var(--col-bg);
  color: var(--col-text);
}

#spark svg {
  fill: var(--col-darker);
}

#spark .oracle svg {
  margin: 7% auto;
  max-width: 40%;
}

#spark .content {
  --col-bg: var(--col-darker);
  padding: 2em 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spark .brand {
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--col-darker);
  display: flex;
  align-items: center;
  justify-content: center;
}

#spark .brand svg {
  width: 20%;
  min-width: 20px;
  /* fill: var(--col-darker); */
}
