/* Font */
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

html,
body {
  width: 100%;
  min-height: 100vh;

  background-color: #6d695c;
  background-image: repeating-linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    repeating-linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px,
      transparent 60px
    ),
    linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    ),
    linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.1) 25%,
      transparent 25%,
      transparent 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1)
    );
  background-size: 70px 120px;
}

main {
  height: 100vh;
  min-height: 400px;
}

#spark {
  display: grid;
  grid-template-rows: auto 5fr auto;
  width: 100%;
  height: 100%;

  --col-base: var(--palette-green-base);
  --col-lighter: var(--palette-green-lighter);
  --col-darker: var(--palette-green-darker);

  --col-bg: var(--col-lighter);
  --col-text: var(--col-text-body);

  cursor: pointer;
}

@media (min-aspect-ratio: 2/3) {
  main {
    padding: 2em 0;
  }

  #spark {
    --dist: calc(0.2vw + 0.5vh + 0.5px);
    --dist2: calc(var(--dist) * 3);

    border-radius: 0 1em;
    overflow: hidden;
    min-width: 300px;
    max-width: 50vh;
    margin: 0 auto;
    box-shadow: var(--dist) var(--dist) var(--dist2) var(--dist)
      rgba(0, 0, 0, 0.3);
  }
}

#spark > section {
  background-color: var(--col-bg);
  color: var(--col-text);
}

#spark svg {
  fill: var(--col-darker);
}

#spark .oracle svg {
  margin: 7% auto;
  max-width: 40%;
}

#spark .content {
  --col-bg: var(--col-darker);
  padding: 2em 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spark .brand {
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--col-darker);
  display: flex;
  align-items: center;
  justify-content: center;
}

#spark .brand svg {
  width: 20%;
  min-width: 20px;
  /* fill: var(--col-darker); */
}
