/* Font */
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
}

main {
  /* TODO: Center shit in here */
  background-color: gold;
  min-height: 100vh;
}

#spark {
  /* grid-column-start: 2; */
  /* max-width: 450px; */
  /* top: 0;
  left: 0; */

  /* display: grid;
  grid-template-areas:
  'oracle'
  'content'
  'brand';
  grid-template-rows: 2fr 5fr 1fr;
  max-height: 100%; */
  /* grid-template-columns: 5fr 90fr 5fr; */

  display: grid;
  grid-template-rows: auto 5fr auto;
  width: 100%;
  min-height: 100vh;

  --col-base: var(--palette-green-base);
  --col-lighter: var(--palette-green-lighter);
  --col-darker: var(--palette-green-darker);

  --col-bg: var(--col-lighter);
  --col-text: var(--col-text-body);

  cursor: pointer;
}

#spark > section {
  background-color: var(--col-bg);
  color: var(--col-text);
}

#spark svg {
  fill: var(--col-darker);
}

@media (min-aspect-ratio: 2/3) {
  main {
    background-color: red;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  #spark {
    max-width: 550px;
    padding: 2em 0;
    margin: 0 auto;
  }

  #spark .oracle svg {
    /* max-width: 300px; */
  }
}

#spark .oracle svg {
  margin: 7% auto;
  /* max-width: 30vw; */
  max-width: 40%;
}

#spark .content {
  --col-bg: var(--col-darker);
  padding: 2em 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#spark .brand {
  padding: 2em 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--col-darker);
  display: flex;
  align-items: center;
  justify-content: center;
}

#spark .brand svg {
  width: 20%;
  min-width: 20px;
  /* fill: var(--col-darker); */
}
