// brand palettes
:global(body) {
  --col-body-bg: #fff;
  --col-text-body: #333344;
  --col-text-heading: #333344;
  --col-text-subheading: #333344;

  --palette-blue-base: #217afa;
  --palette-blue-darker: #002070;
  --palette-blue-lighter: #d0f0ff;
  --palette-green-base: #20a050;
  --palette-green-darker: #107030;
  --palette-green-lighter: #c0e0c0;
  --palette-yellow-base: #ffe040;
  --palette-yellow-darker: #ffc000;
  --palette-yellow-lighter: #fff0c0;
  --palette-red-base: #ff4020;
  --palette-red-darker: #d02030;
  --palette-red-lighter: #ffd0de;
}
