@import './src/scss/global/reset';
@import './src/scss/global/palette';
@import './src/scss/global/typography';
@import './src/scss/shared/mixins';

:global(body) {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  text-rendering: var(--text-rendering);

  color: var(--col-text-body);
  background: var(--col-body-bg);

  min-height: 100vh;

  main {
    height: 100vh;
  }

  .spark {
    height: 100vh;
  }
}
