@import './src/scss/shared/mixins';

:global(body) {
  --body-background: #fff;
  --body-font-col: #333344;
  --body-font-family: 'Arial', 'sans';
  --body-line-height: 1.55em;
  --body-font-size: calc(16px+1vw);

  width: 100%;
  min-height: 100vh;

  $col: #ff9900;
}

.btn {
  margin-left: 20px;
  font-size: 2em;
}
