@import './src/scss/shared/_mixins';
@import './src/scss/shared/_palette';

.spark {
  width: 100%;
  height: 100vh;
  background-color: #339900;
}

.cube {
  width: 100%;
  height: 100vh;
  display: block;
}
